# Ignore node_modules and log files
node_modules
npm-debug.log
yarn-error.log

# Ignore TypeScript build folder (if applicable)
dist

# Ignore Dockerfile and Docker ignore file
Dockerfile
.dockerignore

# Ignore local environment files
.env
.env.local

# Ignore git files
.git
.gitignore

# Ignore IDE/editor files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore Mac-specific files
.DS_Store

# Ignore coverage reports
coverage

# Ignore test files and folders
tests
*.test.js
*.test.ts
*.spec.js
*.spec.ts
